In [1]:
import polars as pl

file='~/Downloads/PD 2023 Wk 1 Input.csv'


df=pl.read_csv(file)

In [2]:
df.schema

{'Transaction Code': Utf8,
 'Value': Int64,
 'Customer Code': Int64,
 'Online or In-Person': Int64,
 'Transaction Date': Utf8}

In [3]:
df.sort('Value').tail(3)

shape: (3, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬─────────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date    │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---                 │
│ str              ┆ i64   ┆ i64           ┆ i64                 ┆ str                 │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪═════════════════════╡
│ DSB-909-233-831  ┆ 9952  ┆ 100010        ┆ 1                   ┆ 18/12/2023 00:00:00 │
│ DS-782-399-288   ┆ 9957  ┆ 100002        ┆ 1                   ┆ 26/03/2023 00:00:00 │
│ DS-586-726-999   ┆ 9967  ┆ 100007        ┆ 2                   ┆ 20/09/2023 00:00:00 │
└──────────────────┴───────┴───────────────┴─────────────────────┴─────────────────────┘

In [4]:
df.null_count()

shape: (1, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬──────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---              │
│ u32              ┆ u32   ┆ u32           ┆ u32                 ┆ u32              │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪══════════════════╡
│ 0                ┆ 0     ┆ 0             ┆ 0                   ┆ 0                │
└──────────────────┴───────┴───────────────┴─────────────────────┴──────────────────┘

In [5]:



# df = df.with_columns(
#     [
#         pl.col("Transaction Code")
#         .str.splitn("-", 2)
#         .struct.rename_fields(["first_part", "second_part"])
#         .alias("fields"),
#     ]
# ).unnest("fields")


df = df.with_columns(
    [
    pl.col('Transaction Code')
    .str.splitn('-',2)
    .struct.rename_fields(['Bank Code','Transaction Number'])
    .alias('fields')
    ]
)

df.head()

shape: (5, 6)
┌────────────────────┬───────┬───────────────┬───────────┬────────────────────┬────────────────────┐
│ Transaction Code   ┆ Value ┆ Customer Code ┆ Online or ┆ Transaction Date   ┆ fields             │
│ ---                ┆ ---   ┆ ---           ┆ In-Person ┆ ---                ┆ ---                │
│ str                ┆ i64   ┆ i64           ┆ ---       ┆ str                ┆ struct[2]          │
│                    ┆       ┆               ┆ i64       ┆                    ┆                    │
╞════════════════════╪═══════╪═══════════════╪═══════════╪════════════════════╪════════════════════╡
│ DTB-716-679-576    ┆ 1448  ┆ 100001        ┆ 2         ┆ 20/03/2023         ┆ {"DTB","716-679-57 │
│                    ┆       ┆               ┆           ┆ 00:00:00           ┆ 6"}                │
│ DS-795-814-303     ┆ 7839  ┆ 100001        ┆ 2         ┆ 15/11/2023         ┆ {"DS","795-814-303 │
│                    ┆       ┆               ┆           ┆ 00:00:00           ┆ "}                 │
│ DSB-807-592-406    ┆ 5520  ┆ 100005        ┆ 1         ┆ 14/07/2023         ┆ {"DSB","807-592-40 │
│                    ┆       ┆               ┆           ┆ 00:00:00           ┆ 6"}                │
│ DS-367-545-264     ┆ 7957  ┆ 100007        ┆ 2         ┆ 18/08/2023         ┆ {"DS","367-545-264 │
│                    ┆       ┆               ┆           ┆ 00:00:00           ┆ "}                 │
│ DSB-474-374-857    ┆ 5375  ┆ 100000        ┆ 2         ┆ 26/08/2023         ┆ {"DSB","474-374-85 │
│                    ┆       ┆               ┆           ┆ 00:00:00           ┆ 7"}                │
└────────────────────┴───────┴───────────────┴───────────┴────────────────────┴────────────────────┘

In [6]:
df.unnest('fields')

shape: (365, 7)
┌────────────────────┬───────┬──────────┬───────────┬─────────────┬───────────┬────────────────────┐
│ Transaction Code   ┆ Value ┆ Customer ┆ Online or ┆ Transaction ┆ Bank Code ┆ Transaction Number │
│ ---                ┆ ---   ┆ Code     ┆ In-Person ┆ Date        ┆ ---       ┆ ---                │
│ str                ┆ i64   ┆ ---      ┆ ---       ┆ ---         ┆ str       ┆ str                │
│                    ┆       ┆ i64      ┆ i64       ┆ str         ┆           ┆                    │
╞════════════════════╪═══════╪══════════╪═══════════╪═════════════╪═══════════╪════════════════════╡
│ DTB-716-679-576    ┆ 1448  ┆ 100001   ┆ 2         ┆ 20/03/2023  ┆ DTB       ┆ 716-679-576        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DS-795-814-303     ┆ 7839  ┆ 100001   ┆ 2         ┆ 15/11/2023  ┆ DS        ┆ 795-814-303        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DSB-807-592-406    ┆ 5520  ┆ 100005   ┆ 1         ┆ 14/07/2023  ┆ DSB       ┆ 807-592-406        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DS-367-545-264     ┆ 7957  ┆ 100007   ┆ 2         ┆ 18/08/2023  ┆ DS        ┆ 367-545-264        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ …                  ┆ …     ┆ …        ┆ …         ┆ …           ┆ …         ┆ …                  │
│ DS-849-981-514     ┆ 8500  ┆ 100000   ┆ 2         ┆ 29/10/2023  ┆ DS        ┆ 849-981-514        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DS-726-686-279     ┆ 9455  ┆ 100006   ┆ 2         ┆ 10/08/2023  ┆ DS        ┆ 726-686-279        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DS-551-937-380     ┆ 475   ┆ 100002   ┆ 1         ┆ 11/10/2023  ┆ DS        ┆ 551-937-380        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
│ DS-976-542-770     ┆ 7364  ┆ 100009   ┆ 1         ┆ 09/10/2023  ┆ DS        ┆ 976-542-770        │
│                    ┆       ┆          ┆           ┆ 00:00:00    ┆           ┆                    │
└────────────────────┴───────┴──────────┴───────────┴─────────────┴───────────┴────────────────────┘

In [7]:
df['Customer Code'].value_counts()

shape: (11, 2)
┌───────────────┬────────┐
│ Customer Code ┆ counts │
│ ---           ┆ ---    │
│ i64           ┆ u32    │
╞═══════════════╪════════╡
│ 100010        ┆ 44     │
│ 100007        ┆ 26     │
│ 100002        ┆ 28     │
│ 100006        ┆ 30     │
│ …             ┆ …      │
│ 100003        ┆ 36     │
│ 100004        ┆ 36     │
│ 100005        ┆ 31     │
│ 100009        ┆ 28     │
└───────────────┴────────┘

In [8]:
%%timeit

df.describe()

296 µs ± 4.44 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)