In [46]:
import pandas as pd

data = [
    ['John Doe',30,50000],
    ['Jane Smith',35,60000],
    ['Mark Johnson',28,45000],
    ['Emily Davis',32,70000],
    ['Gio E',27,56250]
    ]

columns=['Name','Age','Salary']

df=pd.DataFrame(data,columns=columns)

In [47]:
df.head()

           Name  Age  Salary
0      John Doe   30   50000
1    Jane Smith   35   60000
2  Mark Johnson   28   45000
3   Emily Davis   32   70000
4         Gio E   27   56250

In [48]:
average=df['Salary'].mean()

print(average)

56250.0

In [45]:
# Determine the Name who has average salary

above_average_salary = df[df['Salary'] > average]

print(above_average_salary)

          Name  Age  Salary
1   Jane Smith   35   60000
3  Emily Davis   32   70000

In [56]:
exactly_average = df[df['Salary'] == average]
print(exactly_average)

    Name  Age  Salary
4  Gio E   27   56250