Combine dataframes:
- pl.concat([df1,df2])

Add column with constant:
- pl.lit(1).alias('Column with constant')

Deduplicate column:
- result.filter(~pl.col("ID").is_duplicated())

In [1]:
import polars as pl


file='/home/gio/Downloads/New Customers.xlsx'

df1=pl.read_excel(file,sheet_id=1)
df2=pl.read_excel(file,sheet_id=2)
df3=pl.read_excel(file,sheet_id=3)
df4=pl.read_excel(file,sheet_id=4)
df5=pl.read_excel(file,sheet_id=5)
df6=pl.read_excel(file,sheet_id=6)
df7=pl.read_excel(file,sheet_id=7)
df8=pl.read_excel(file,sheet_id=8)
df9=pl.read_excel(file,sheet_id=9)
df10=pl.read_excel(file,sheet_id=10)
df11=pl.read_excel(file,sheet_id=11)
df12=pl.read_excel(file,sheet_id=12)


df1=df1.with_columns(pl.lit(1).alias('Joining Month'))
df2=df2.with_columns(pl.lit(2).alias('Joining Month'))
df3=df3.with_columns(pl.lit(3).alias('Joining Month'))
df4=df4.with_columns(pl.lit(4).alias('Joining Month'))
df5=df5.with_columns(pl.lit(5).alias('Joining Month'))
df6=df6.with_columns(pl.lit(6).alias('Joining Month'))
df7=df7.with_columns(pl.lit(7).alias('Joining Month'))
df8=df8.with_columns(pl.lit(8).alias('Joining Month'))
df9=df9.with_columns(pl.lit(9).alias('Joining Month'))
df10=df10.with_columns(pl.lit(10).alias('Joining Month'))
df11=df11.with_columns(pl.lit(11).alias('Joining Month'))
df12=df12.with_columns(pl.lit(12).alias('Joining Month'))

In [2]:
result=pl.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [3]:
result=result.pivot(
    index=['ID','Joining Month','Joining Day'],
    columns='Demographic',
    values='Value'
)

# (
#     sales_data
#     .pivot(
#         index='date', 
#         columns='bike_type', 
#         values='sales'
#     )
# )

/tmp/ipykernel_744050/2038800930.py:1: DeprecationWarning: In a future version of polars, the default `aggregate_function` will change from `'first'` to `None`. Please pass `'first'` to keep the current behaviour, or `None` to accept the new one.
  result=result.pivot(

In [4]:
result.head()

shape: (5, 6)
┌────────┬───────────────┬─────────────┬───────────┬───────────────┬──────────────┐
│ ID     ┆ Joining Month ┆ Joining Day ┆ Ethnicity ┆ Date of Birth ┆ Account Type │
│ ---    ┆ ---           ┆ ---         ┆ ---       ┆ ---           ┆ ---          │
│ i64    ┆ i32           ┆ i64         ┆ str       ┆ str           ┆ str          │
╞════════╪═══════════════╪═════════════╪═══════════╪═══════════════╪══════════════╡
│ 490910 ┆ 1             ┆ 3           ┆ White     ┆ 5/23/1981     ┆ Basic        │
│ 369221 ┆ 1             ┆ 18          ┆ Black     ┆ 3/4/2019      ┆ Platinum     │
│ 568991 ┆ 1             ┆ 16          ┆ White     ┆ 4/27/1979     ┆ Gold         │
│ 191607 ┆ 1             ┆ 9           ┆ White     ┆ 3/15/1963     ┆ Gold         │
│ 612794 ┆ 1             ┆ 29          ┆ Asian     ┆ 11/12/1981    ┆ Basic        │
└────────┴───────────────┴─────────────┴───────────┴───────────────┴──────────────┘

In [5]:
# result2 = result.filter(~result["ID"].is_duplicated())
result2 = result.filter(~pl.col("ID").is_duplicated())

result2.describe()

shape: (9, 7)
┌────────────┬────────────────┬──────────┬─────────────┬───────────┬────────────────┬──────────────┐
│ describe   ┆ ID             ┆ Joining  ┆ Joining Day ┆ Ethnicity ┆ Date of Birth  ┆ Account Type │
│ ---        ┆ ---            ┆ Month    ┆ ---         ┆ ---       ┆ ---            ┆ ---          │
│ str        ┆ f64            ┆ ---      ┆ f64         ┆ str       ┆ str            ┆ str          │
│            ┆                ┆ f64      ┆             ┆           ┆                ┆              │
╞════════════╪════════════════╪══════════╪═════════════╪═══════════╪════════════════╪══════════════╡
│ count      ┆ 988.0          ┆ 988.0    ┆ 988.0       ┆ 988       ┆ 988            ┆ 988          │
│ null_count ┆ 0.0            ┆ 0.0      ┆ 0.0         ┆ 0         ┆ 0              ┆ 0            │
│ mean       ┆ 552051.067814  ┆ 6.484818 ┆ 16.076923   ┆ null      ┆ null           ┆ null         │
│ std        ┆ 262654.30852   ┆ 3.458946 ┆ 8.850335    ┆ null      ┆ null           ┆ null         │
│ min        ┆ 100185.0       ┆ 1.0      ┆ 1.0         ┆ Asian     ┆ 1/1/1940       ┆ Basic        │
│ max        ┆ 997703.0       ┆ 12.0     ┆ 31.0        ┆ White     ┆ 9/9/1999       ┆ Platinum     │
│ median     ┆ 559720.0       ┆ 6.0      ┆ 16.0        ┆ null      ┆ null           ┆ null         │
│ 25%        ┆ 314997.0       ┆ 4.0      ┆ 9.0         ┆ null      ┆ null           ┆ null         │
│ 75%        ┆ 777515.0       ┆ 9.0      ┆ 24.0        ┆ null      ┆ null           ┆ null         │
└────────────┴────────────────┴──────────┴─────────────┴───────────┴────────────────┴──────────────┘

In [6]:
result2.head()

shape: (5, 6)
┌────────┬───────────────┬─────────────┬───────────┬───────────────┬──────────────┐
│ ID     ┆ Joining Month ┆ Joining Day ┆ Ethnicity ┆ Date of Birth ┆ Account Type │
│ ---    ┆ ---           ┆ ---         ┆ ---       ┆ ---           ┆ ---          │
│ i64    ┆ i32           ┆ i64         ┆ str       ┆ str           ┆ str          │
╞════════╪═══════════════╪═════════════╪═══════════╪═══════════════╪══════════════╡
│ 490910 ┆ 1             ┆ 3           ┆ White     ┆ 5/23/1981     ┆ Basic        │
│ 369221 ┆ 1             ┆ 18          ┆ Black     ┆ 3/4/2019      ┆ Platinum     │
│ 568991 ┆ 1             ┆ 16          ┆ White     ┆ 4/27/1979     ┆ Gold         │
│ 191607 ┆ 1             ┆ 9           ┆ White     ┆ 3/15/1963     ┆ Gold         │
│ 612794 ┆ 1             ┆ 29          ┆ Asian     ┆ 11/12/1981    ┆ Basic        │
└────────┴───────────────┴─────────────┴───────────┴───────────────┴──────────────┘