# All what I need to know

```python
`pl.col('col1').map_dict({1:'online', 2:'in-person'})` use replace all the matching data in the field. This function is simmilar to excel `find and replace`

`pl.Config.set_fmt_str_lengths(x)`                     use to set how many characters to read from field

dt.strftime('%a')
```

In [5]:
import polars as pl

# file='~/Downloads/PD 2023 Wk 1 Input.csv'
file='https://drive.google.com/u/0/uc?id=1oln2ri6nu1wDQfT3gQMLLNlmQ2h6B9d9&export=download'

# set str, polars config format
pl.Config.set_fmt_str_lengths(50)

df=pl.read_csv(file, try_parse_dates=True)

In [6]:
df.head(1)

shape: (1, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬─────────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date    │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---                 │
│ str              ┆ i64   ┆ i64           ┆ i64                 ┆ datetime[μs]        │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪═════════════════════╡
│ DTB-716-679-576  ┆ 1448  ┆ 100001        ┆ 2                   ┆ 2023-03-20 00:00:00 │
└──────────────────┴───────┴───────────────┴─────────────────────┴─────────────────────┘

In [19]:
(
    df.with_columns(pl.col("Transaction Code").str.n_chars().min())
).head(1)

shape: (1, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬─────────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date    │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---                 │
│ u32              ┆ i64   ┆ i64           ┆ i64                 ┆ datetime[μs]        │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪═════════════════════╡
│ 14               ┆ 1448  ┆ 100001        ┆ 2                   ┆ 2023-03-20 00:00:00 │
└──────────────────┴───────┴───────────────┴─────────────────────┴─────────────────────┘

In [25]:
(
    df.describe()
).head(15)

shape: (9, 6)
┌────────────┬──────────────────┬─────────────┬───────────────┬───────────┬─────────────────────┐
│ describe   ┆ Transaction Code ┆ Value       ┆ Customer Code ┆ Online or ┆ Transaction Date    │
│ ---        ┆ ---              ┆ ---         ┆ ---           ┆ In-Person ┆ ---                 │
│ str        ┆ str              ┆ f64         ┆ f64           ┆ ---       ┆ str                 │
│            ┆                  ┆             ┆               ┆ f64       ┆                     │
╞════════════╪══════════════════╪═════════════╪═══════════════╪═══════════╪═════════════════════╡
│ count      ┆ 365              ┆ 365.0       ┆ 365.0         ┆ 365.0     ┆ 365                 │
│ null_count ┆ 0                ┆ 0.0         ┆ 0.0           ┆ 0.0       ┆ 0                   │
│ mean       ┆ null             ┆ 4938.813699 ┆ 100004.961644 ┆ 1.528767  ┆ null                │
│ std        ┆ null             ┆ 2940.973461 ┆ 3.277237      ┆ 0.499857  ┆ null                │
│ min        ┆ DS-101-351-324   ┆ 13.0        ┆ 100000.0      ┆ 1.0       ┆ 2023-01-03 00:00:00 │
│ max        ┆ DTB-996-407-559  ┆ 9967.0      ┆ 100010.0      ┆ 2.0       ┆ 2024-01-01 00:00:00 │
│ median     ┆ null             ┆ 4743.0      ┆ 100005.0      ┆ 2.0       ┆ null                │
│ 25%        ┆ null             ┆ 2321.0      ┆ 100002.0      ┆ 1.0       ┆ null                │
│ 75%        ┆ null             ┆ 7427.0      ┆ 100008.0      ┆ 2.0       ┆ null                │
└────────────┴──────────────────┴─────────────┴───────────────┴───────────┴─────────────────────┘

In [7]:
(
    a=df.with_columns(pl.col("Transaction Code").str.n_chars().alias("length"))
).head()

shape: (5, 6)
┌──────────────────┬───────┬───────────────┬─────────────────────┬─────────────────────┬────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date    ┆ length │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---                 ┆ ---    │
│ str              ┆ i64   ┆ i64           ┆ i64                 ┆ datetime[μs]        ┆ u32    │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪═════════════════════╪════════╡
│ DTB-716-679-576  ┆ 1448  ┆ 100001        ┆ 2                   ┆ 2023-03-20 00:00:00 ┆ 15     │
│ DS-795-814-303   ┆ 7839  ┆ 100001        ┆ 2                   ┆ 2023-11-15 00:00:00 ┆ 14     │
│ DSB-807-592-406  ┆ 5520  ┆ 100005        ┆ 1                   ┆ 2023-07-14 00:00:00 ┆ 15     │
│ DS-367-545-264   ┆ 7957  ┆ 100007        ┆ 2                   ┆ 2023-08-18 00:00:00 ┆ 14     │
│ DSB-474-374-857  ┆ 5375  ┆ 100000        ┆ 2                   ┆ 2023-08-26 00:00:00 ┆ 15     │
└──────────────────┴───────┴───────────────┴─────────────────────┴─────────────────────┴────────┘

In [ ]:
max_length = df.select(pl.col("length").max()).collect()[0][0]

In [15]:
df.schema

{'Transaction Code': Utf8,
 'Value': Int64,
 'Customer Code': Int64,
 'Online or In-Person': Int64,
 'Transaction Date': Datetime(time_unit='us', time_zone=None)}

In [16]:
df.sort('Value').tail(1)

shape: (1, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬─────────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date    │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---                 │
│ str              ┆ i64   ┆ i64           ┆ i64                 ┆ datetime[μs]        │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪═════════════════════╡
│ DS-586-726-999   ┆ 9967  ┆ 100007        ┆ 2                   ┆ 2023-09-20 00:00:00 │
└──────────────────┴───────┴───────────────┴─────────────────────┴─────────────────────┘

In [17]:
df.null_count()

shape: (1, 5)
┌──────────────────┬───────┬───────────────┬─────────────────────┬──────────────────┐
│ Transaction Code ┆ Value ┆ Customer Code ┆ Online or In-Person ┆ Transaction Date │
│ ---              ┆ ---   ┆ ---           ┆ ---                 ┆ ---              │
│ u32              ┆ u32   ┆ u32           ┆ u32                 ┆ u32              │
╞══════════════════╪═══════╪═══════════════╪═════════════════════╪══════════════════╡
│ 0                ┆ 0     ┆ 0             ┆ 0                   ┆ 0                │
└──────────────────┴───────┴───────────────┴─────────────────────┴──────────────────┘

In [18]:
# df = df.with_columns(
#     [
#         pl.col("Transaction Code")
#         .str.splitn("-", 2)
#         .struct.rename_fields(["first_part", "second_part"])
#         .alias("fields"),
#     ]
# ).unnest("fields")

df = df.with_columns(
    [
        pl.col('Transaction Code')
        .str.splitn('-',2)
        .alias('Fields')
        .struct.rename_fields(['Bank Code','Transaction Number'])
    ]
)

df=df.drop('Transaction Code')
df=df.unnest('Fields')
df.head(1)

shape: (1, 6)
┌───────┬───────────────┬───────────┬─────────────────────┬───────────┬────────────────────┐
│ Value ┆ Customer Code ┆ Online or ┆ Transaction Date    ┆ Bank Code ┆ Transaction Number │
│ ---   ┆ ---           ┆ In-Person ┆ ---                 ┆ ---       ┆ ---                │
│ i64   ┆ i64           ┆ ---       ┆ datetime[μs]        ┆ str       ┆ str                │
│       ┆               ┆ i64       ┆                     ┆           ┆                    │
╞═══════╪═══════════════╪═══════════╪═════════════════════╪═══════════╪════════════════════╡
│ 1448  ┆ 100001        ┆ 2         ┆ 2023-03-20 00:00:00 ┆ DTB       ┆ 716-679-576        │
└───────┴───────────────┴───────────┴─────────────────────┴───────────┴────────────────────┘

In [19]:
df['Customer Code'].value_counts().sort('Customer Code')

shape: (11, 2)
┌───────────────┬────────┐
│ Customer Code ┆ counts │
│ ---           ┆ ---    │
│ i64           ┆ u32    │
╞═══════════════╪════════╡
│ 100000        ┆ 36     │
│ 100001        ┆ 38     │
│ 100002        ┆ 28     │
│ 100003        ┆ 36     │
│ …             ┆ …      │
│ 100007        ┆ 26     │
│ 100008        ┆ 32     │
│ 100009        ┆ 28     │
│ 100010        ┆ 44     │
└───────────────┴────────┘

In [20]:
df.head(1)

shape: (1, 6)
┌───────┬───────────────┬───────────┬─────────────────────┬───────────┬────────────────────┐
│ Value ┆ Customer Code ┆ Online or ┆ Transaction Date    ┆ Bank Code ┆ Transaction Number │
│ ---   ┆ ---           ┆ In-Person ┆ ---                 ┆ ---       ┆ ---                │
│ i64   ┆ i64           ┆ ---       ┆ datetime[μs]        ┆ str       ┆ str                │
│       ┆               ┆ i64       ┆                     ┆           ┆                    │
╞═══════╪═══════════════╪═══════════╪═════════════════════╪═══════════╪════════════════════╡
│ 1448  ┆ 100001        ┆ 2         ┆ 2023-03-20 00:00:00 ┆ DTB       ┆ 716-679-576        │
└───────┴───────────────┴───────────┴─────────────────────┴───────────┴────────────────────┘

In [21]:
import polars as pl

# Assuming df is your DataFrame and 'place' is the column you want to rename
df = df.with_columns(pl.col("Online or In-Person").map_dict({1: 'online', 2: 'in-person'}).alias("Online or In-Person"))
df.head(1)

shape: (1, 6)
┌───────┬───────────────┬───────────┬─────────────────────┬───────────┬────────────────────┐
│ Value ┆ Customer Code ┆ Online or ┆ Transaction Date    ┆ Bank Code ┆ Transaction Number │
│ ---   ┆ ---           ┆ In-Person ┆ ---                 ┆ ---       ┆ ---                │
│ i64   ┆ i64           ┆ ---       ┆ datetime[μs]        ┆ str       ┆ str                │
│       ┆               ┆ str       ┆                     ┆           ┆                    │
╞═══════╪═══════════════╪═══════════╪═════════════════════╪═══════════╪════════════════════╡
│ 1448  ┆ 100001        ┆ in-person ┆ 2023-03-20 00:00:00 ┆ DTB       ┆ 716-679-576        │
└───────┴───────────────┴───────────┴─────────────────────┴───────────┴────────────────────┘

In [22]:
df=df.with_columns(
    pl.col('Transaction Date').dt.strftime('%a')
)

In [23]:

a=df.groupby(pl.col('Bank Code')).agg(pl.col('Value').sum())

a.head()

shape: (3, 2)
┌───────────┬────────┐
│ Bank Code ┆ Value  │
│ ---       ┆ ---    │
│ str       ┆ i64    │
╞═══════════╪════════╡
│ DSB       ┆ 530489 │
│ DTB       ┆ 618238 │
│ DS        ┆ 653940 │
└───────────┴────────┘

In [24]:
b=df.groupby(pl.col(['Bank Code','Transaction Date','Online or In-Person'])).agg(pl.col('Value').sum()).sort('Bank Code')

b.head()

shape: (5, 4)
┌───────────┬──────────────────┬─────────────────────┬───────┐
│ Bank Code ┆ Transaction Date ┆ Online or In-Person ┆ Value │
│ ---       ┆ ---              ┆ ---                 ┆ ---   │
│ str       ┆ str              ┆ str                 ┆ i64   │
╞═══════════╪══════════════════╪═════════════════════╪═══════╡
│ DS        ┆ Wed              ┆ in-person           ┆ 63686 │
│ DS        ┆ Sun              ┆ in-person           ┆ 51301 │
│ DS        ┆ Thu              ┆ in-person           ┆ 75582 │
│ DS        ┆ Fri              ┆ in-person           ┆ 58599 │
│ DS        ┆ Tue              ┆ online              ┆ 36639 │
└───────────┴──────────────────┴─────────────────────┴───────┘

In [25]:
c=df.groupby(pl.col(['Bank Code','Customer Code'])).agg(pl.col('Value').sum()).sort('Bank Code')

c.head()

shape: (5, 3)
┌───────────┬───────────────┬───────┐
│ Bank Code ┆ Customer Code ┆ Value │
│ ---       ┆ ---           ┆ ---   │
│ str       ┆ i64           ┆ i64   │
╞═══════════╪═══════════════╪═══════╡
│ DS        ┆ 100008        ┆ 56400 │
│ DS        ┆ 100007        ┆ 76190 │
│ DS        ┆ 100005        ┆ 39668 │
│ DS        ┆ 100003        ┆ 25482 │
│ DS        ┆ 100010        ┆ 77893 │
└───────────┴───────────────┴───────┘

In [27]:
a.write_csv('a.csv')
b.write_csv('b.csv')
c.write_csv('c.csv')