In [1]:
import pandas as pd

url='https://drive.google.com/u/0/uc?id=1oln2ri6nu1wDQfT3gQMLLNlmQ2h6B9d9&export=download'

In [2]:
df=pd.read_csv(url)

In [3]:
df.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date
0,DTB-716-679-576,1448,100001,2,20/03/2023 00:00:00
1,DS-795-814-303,7839,100001,2,15/11/2023 00:00:00
2,DSB-807-592-406,5520,100005,1,14/07/2023 00:00:00
3,DS-367-545-264,7957,100007,2,18/08/2023 00:00:00
4,DSB-474-374-857,5375,100000,2,26/08/2023 00:00:00

In [4]:
df.dtypes

Transaction Code       object
Value                   int64
Customer Code           int64
Online or In-Person     int64
Transaction Date       object
dtype: object

In [5]:
df[['Bank','Transaction Code']]=df['Transaction Code'].str.split('-',n=1,expand=True)

In [6]:
df.head()

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date,Bank
0,716-679-576,1448,100001,2,20/03/2023 00:00:00,DTB
1,795-814-303,7839,100001,2,15/11/2023 00:00:00,DS
2,807-592-406,5520,100005,1,14/07/2023 00:00:00,DSB
3,367-545-264,7957,100007,2,18/08/2023 00:00:00,DS
4,474-374-857,5375,100000,2,26/08/2023 00:00:00,DSB

In [7]:
df=df[['Transaction Code','Bank','Value','Customer Code','Online or In-Person','Transaction Date']]

In [8]:
df.head()

,Transaction Code,Bank,Value,Customer Code,Online or In-Person,Transaction Date
0,716-679-576,DTB,1448,100001,2,20/03/2023 00:00:00
1,795-814-303,DS,7839,100001,2,15/11/2023 00:00:00
2,807-592-406,DSB,5520,100005,1,14/07/2023 00:00:00
3,367-545-264,DS,7957,100007,2,18/08/2023 00:00:00
4,474-374-857,DSB,5375,100000,2,26/08/2023 00:00:00

In [9]:
df['Online or In-Person']=df['Online or In-Person'].replace({1:'Online',2:'In-Person'})

In [10]:
df.head()

,Transaction Code,Bank,Value,Customer Code,Online or In-Person,Transaction Date
0,716-679-576,DTB,1448,100001,In-Person,20/03/2023 00:00:00
1,795-814-303,DS,7839,100001,In-Person,15/11/2023 00:00:00
2,807-592-406,DSB,5520,100005,Online,14/07/2023 00:00:00
3,367-545-264,DS,7957,100007,In-Person,18/08/2023 00:00:00
4,474-374-857,DSB,5375,100000,In-Person,26/08/2023 00:00:00

In [11]:
df.dtypes

Transaction Code       object
Bank                   object
Value                   int64
Customer Code           int64
Online or In-Person    object
Transaction Date       object
dtype: object

In [12]:
df['Transaction Date']=pd.to_datetime(df['Transaction Date'])

C:\Users\gioe1\AppData\Local\Temp\ipykernel_13784\204886444.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Transaction Date']=pd.to_datetime(df['Transaction Date'])

In [13]:
df['Transaction Date']=df['Transaction Date'].dt.strftime('%A')

In [19]:
by_bank=df.groupby(['Bank'])['Value'].sum()
by_3=df.groupby(['Bank','Transaction Date','Online or In-Person'])['Value'].sum()
by_2=df.groupby(['Bank','Customer Code'])['Value'].sum

df.to_csv('1.csv',index=False)

In [15]:
print(by_bank)

Bank
DS     653940
DSB    530489
DTB    618238
Name: Value, dtype: int64

In [16]:
print(by_3)

Bank  Transaction Date  Online or In-Person
DS    Friday            In-Person              58599
                        Online                 58731
      Monday            In-Person              42806
                        Online                 33563
      Saturday          In-Person              34867
                        Online                 71357
      Sunday            In-Person              51301
                        Online                 21761
      Thursday          In-Person              75582
                        Online                 13337
      Tuesday           In-Person              32607
                        Online                 36639
      Wednesday         In-Person              63686
                        Online                 59104
DSB   Friday            In-Person               9402
                        Online                 45647
      Monday            In-Person              43546
                        Online                 31692
      Saturday          In-Person              72679
                        Online                 61350
      Sunday            In-Person              37755
                        Online                 13086
      Thursday          In-Person              37567
                        Online                 33463
      Tuesday           In-Person              28604
                        Online                 32257
      Wednesday         In-Person              36069
                        Online                 47372
DTB   Friday            In-Person              41861
                        Online                 27366
      Monday            In-Person              21561
                        Online                 38688
      Saturday          In-Person              66334
                        Online                 21392
      Sunday            In-Person              29468
                        Online                 49087
      Thursday          In-Person              57605
                        Online                 53756
      Tuesday           In-Person              54029
                        Online                 68959
      Wednesday         In-Person              52819
                        Online                 35313
Name: Value, dtype: int64

In [17]:
print(by_2)

Bank  Customer Code
DS    100000           57909
      100001           53063
      100002           69803
      100003           25482
      100004           63315
      100005           39668
      100006           77636
      100007           76190
      100008           56400
      100009           56581
      100010           77893
DSB   100000           27585
      100001           67856
      100002           27936
      100003           58154
      100004           39003
      100005           56396
      100006           32333
      100007           29702
      100008           47121
      100009           51749
      100010           92654
DTB   100000           77252
      100001           60675
      100002           48616
      100003           84574
      100004           44435
      100005           37795
      100006           41909
      100007           29308
      100008           69352
      100009           52926
      100010           71396
Name: Value, dtype: int64